<html>
	<head>
		<!--
		Basic CSS styles courtesy of 
		GitHub Primer (https://primer.github.io/)
		-->
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer@10.5.0/build/build.css">
	</head>
	<body>
		<div class="p-4">
			<div class="blankslate blankslate-narrow">
				<p class="h1">Hey there,</p>
				<p>We're going to sign in with the GitHub OAuth API. Ready?</p>
				<p>
					<a class="btn btn-primary" href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>">Sign In with GitHub</a>
				</p>
				<br>
				<p class="text-small">
					If that link doesn't work, remember to add in your <a href="https://github.com/settings/developers">Client ID</a>!
				</p>
			</div>
		</div>
	</body>
</html>