<html>
	<head>
		<!--
		Basic CSS styles courtesy of 
		GitHub Primer (https://primer.github.io/)
		-->
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer@10.5.0/build/build.css">
		<style>
			img{
				width: 128px;
				border-radius: 3px;
			}
			h3{
				padding: 15px 0;
			}
			p{
				padding-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<div class="p-5">
			<div class="blankslate blankslate-narrow p-9">
				Success! You've Authenticated an OAuth Application with GitHub, and recieved a callback redirect to /profile.
			</div>
		</div>
	</body>
</html>